* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body, #root {
  padding: 0;
  margin: 0;
  height: 100%;
}

body{
  background-color: #b805b8;
}

#instruction{
  background-color: rgba(127, 255, 165, 0.678);
}